@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0.5cm;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  .print\:shadow-none {
    box-shadow: none !important;
  }
  
  .print\:bg-white {
    background-color: white !important;
  }
  
  .print\:p-0 {
    padding: 0 !important;
  }
  
  .print\:hidden {
    display: none !important;
  }
}